.bg-gs {
    /*background-color: rgba(49,42,77,0.88);*/
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 10%, rgba(0,0,0,1) 100%);
}

.content-split {
    width: 42%;
}
#text {

    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
#header_text{
    font-family: Papyrus, fantasy;
    font-size: 4em;
}
#parag{
    font-family: Courier, monospace;
    font-size: 1em;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; /* Adjust the width as needed */
    max-width: 800px; /* Set a maximum width if desired */
    padding: 20px;
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}
.typestyle{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
