<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>

    <script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <title>Stan-Studios | Home</title>

</head>
<body class="bg-gs">
    <div th:replace="~{fragments/header::header}"></div>
    <div class="centered">
        <div >
            <div id="text" class=" mx-auto">
                <h1 id="header_text">Welcome to Stan-Portfolio</h1>
                <div id="parag">
                    <h2 >Back-end Java Developer</h2>
                    <p >I design and code beautifully things, and I love what I do. </p>

                </div>
                <div >
                    <a  href="#" th:href="@{https://github.com/StasPavl}">
                        <img src="../static/images/panda_pc.png" th:src="@{images/panda_pc.png}" width="35%" height="35%" alt="PandaDev homeLogo">
                    </a>
                </div>
                My GitHub

            </div>
        </div>
    </div>
</body>
</html>